<!-- Main Body -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Allergy Finder</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/mains">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/meals">+ Meal</a></li>
        <li><a href="/reactions">+ Reaction</a></li>
        <!-- Left Dropdown Menu -->
        <li class="dropdown-left">
          <a href="#" class="dropdown-toggle-left" data-toggle="dropdown" role="button" aria-expanded="false">Analyze <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/mains/show">Graph</a></li>
            <li><a href="/triggers">List</a></li>
            <li><a href="/dataTable">DataTable</a></li>
            <li><a href="/mealhistory">Meal History</a></li>
          </ul>
        </li>
      </ul>
      <!-- Right Side of Nav Bar -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Welcome back, <%=@user.name%></a></li>
        <!-- Right Dropdown Menu -->
        <li class="dropdown-right">
          <a href="#" class="dropdown-toggle-right" data-toggle="dropdown" role="button" aria-expanded="false">Account<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li class="divider"></li>
            <li><a href="/sessions/<%= @user.id %>" data-method='delete'>Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

