<html>
	<head>
		<!-- Bootstrap CDN -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link href='//fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
		<style>
		.btn{
			margin-top:6px;
		}
		img{
			width:50%;
		}
		* {
    	font-family: 'Quicksand', sans-serif;
		}
		</style>

		<!-- JQuery Accordian -->
		 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
		  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		  <script>
		  $(function() {
		    var icons = {
		      header: "ui-icon-circle-arrow-e",
		      activeHeader: "ui-icon-circle-arrow-s"
		    };
		    $( "#accordion" ).accordion({
		      heightStyle: "content",
		      icons: icons
		      
		    });
		    $( "#toggle" ).button().click(function() {
		      if ( $( "#accordion" ).accordion( "option", "icons" ) ) {
		        $( "#accordion" ).accordion( "option", "icons", null );
		      } else {
		        $( "#accordion" ).accordion( "option", "icons", icons );
		      }
		    });
		  });
		  </script>
	</head>
	<body data-no-turbolink>
		<!-- Navbar Render -->
		<%= render 'partials/navbar' %>

		<div class='container'>

			<div class='row' style='text-align: center'>
				<div class='col-md-4'>
					<h2>New Meal</h2>
					<a href='/meals'><%= image_tag 'green.png' , class: "display" %></a>
					<!-- <a href='/meals'><img src="assets/food.jpg" alt="meal" class="img-rounded"></a> -->
				</div>

				<div class='col-md-4'>
					<h2>Add a Reaction</h2>
					<a href='/reactions'><%= image_tag 'red.png' , class: "display" %></a>
				</div>

				<div class='col-md-4'>
					<h2>Analyze</h2>
					<a href='/dataTable'><%= image_tag 'orange.png' , class: "display" %></a>
					<!-- <a href='/dataTable'><img src="assets/graph.jpg" alt="graph" class="img-rounded"></a> -->
				</div>
			</div>

		</div>
	</body>
</html>


